*{
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.estructura{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4.47fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}
    
.estructura__cabecera{ 
    background-color: #e0e0e0;
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.estructura__principal{ 
    background-color: white;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}

.estructura__pie{ 
    background-color: #ff9f00;
    text-align: center;
    grid-area: 3 / 1 / 4 / 2;
}

.estructura__cabecera__contenedor{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.estructura__cabecera__contenedor__logo{
    width: 100px;
    margin: 10px;
}

.estructura__cabecera__contenedor__texto{
    transform: translate(-5%, 0);
    margin-top: 35px;
    margin-left: 20px;
    font-size: 25pt;
}

.estructura__cabecera__menu{
    background-color: #ff9f00;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    align-content: space-around;    
}

.estructura__cabecera__menu__item{
    display: inline-block;
    font-weight: 700;
}

.estructura__cabecera__menu__item:hover, a:hover{
    color: black;
    font-weight: 700;
}

.estructura__principal__sec{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    width: 70%;
    margin: auto;
}

.estructura__principal__img{
    width: 30%;
    max-width: 400px;
    height: fit-content;
}

.estructura__principal__texto{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.estructura__principal__texto__cv{
    width: 100%;
}

.estructura__principal__texto__tecnologias{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-around;
}

.estructura__principal__texto__tecnologias__img{
    object-fit: fill;
    transition: transform 0.5s;
}
.estructura__principal__texto__tecnologias__img:hover{
    transform: scale(1.2);
    z-index: 100;
}

.estructura__principal__texto__contacto{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.estructura__principal__texto__contacto__lbl{
    text-align: left;
}

.estructura__principal__texto__contacto__botones {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.estructura__principal__texto__contacto__botones__check{
    width: 100%;
}

a{
    text-decoration: none;
}

.estructura__pie__logo{
    width: 30px;
    height: 30px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(307deg) brightness(94%) contrast(102%);
}

.estructura__pie__redes{
    background-color: #ff9f00;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    align-content: space-around; 
}

.estructura__pie__redes__iconos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 75px;
    align-content: center; ;
}

.estructura__pie__redes__img{
    width: 24px;
}

.estructura__pie__redes__txt{
    width: 100%;
}

li a{
    color: white;
}

.contenedor{
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5%;
    width: 75%;
    text-align: center;
}

.estructura__principal__texto__proyectos{
    padding: 5px;
    text-align: left;
}

.contenedor__contacto{
    text-align: left;
    width: 50%;
    margin: auto;
}

th{
    background-color: #e0e0e0;
    color: black;
    padding-left: 5px;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

input, textarea, select{
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: solid 1px #ff9f00;
    padding: 0 10px;
}

.check{
    height: auto;
    margin: 15px 15px 15px 10px;
}

textarea{
    height: 6em;
}

input:focus{
    border: solid 1px black;
}

textarea:focus{
    border: solid 1px black;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #ff9f00;
    border-radius: 8px;
    background: #ffffff;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}
.select select:hover, .select select:focus {
    color: black;
    background: #ffffff;
}
.select select:disabled {
    opacity: 1;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 10px;
    height: 10px;
    border: solid #ff9f00;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: black;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #ff9f00;
}

.btnEnter{
    background-color: #ff9f00;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.btnEnter:hover{
    background-color: white;
    color: #ff9f00;
    border: 1px solid #ff9f00;
}

.btnBorrar{
    background-color: hsla(0, 63%, 48%, 0.678);
    color: white;
    font-weight: 700;
    border: 1px solid hsla(0, 63%, 48%, 0.678);
    cursor: pointer
}

.btnBorrar:hover{
    background-color: white;
    color: hsla(0, 63%, 48%, 0.678);
}

.estructura__cabecera__contenedor__logo:hover {
    animation: animacionLogo 0.9s both;
}

@keyframes animacionLogo {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
  

.btnFlotante{
    position: fixed;
    right: 2%;
    top: 20%;
    filter: drop-shadow(10px 10px 4px #5f98d1);
}

.btnFlotante:hover {
	animation: latido 0.5s ease-in-out infinite both;
}
@keyframes latido {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 750px) {
    h1{
        display: none;
    }

    .btnFlotante{
        display: none;
    }

    .estructura__cabecera__contenedor{
        width: 100%;
        margin: auto;
    }

    .estructura__cabecera__contenedor__logo{
        margin: auto;
    }

    h2 {
        text-align: center;
        margin-top: 10px;
    }

    .estructura__principal__img {
        width: 300px;
        margin-top: 10px;
    }

    .estructura__principal__texto {
        width: 90%;
        text-align: left;
    }

    .estructura__principal__texto__tecnologias__img {
        object-fit: fill;
        transition: transform 0.5s;
        width: 100px;
        height: auto;
        margin: 1em;
    }

    .textoRedes{
        display: none;
    }

    .estructura__pie{
        font-weight: 500;
        text-align: center;
        justify-content: center;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

}