.estructura__principal{ 
    background-color: map-get($colores , fondo);
    &__texto__tecnologias{
        @include flexbox(row, space-evenly, wrap, space-around);
        @extend %anchoTotal;
        &__img{
            object-fit: fill;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.2);
                z-index: 100;
            }
        }
    }            
}