@media only screen and (max-width: 750px) {
    h1{
        display: none;
    }

    .navMobile{
        display: block;
        position: absolute;
        top: 2.5%;
        right: 3%;
    }

    .offcanvas-end{
        width: 50%;
    }

    .btnFlotante{
        display: none;
    }

    .estructura__cabecera__contenedor__logo{
        margin: auto;
    }
}